@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/* import de la font Syne depuis Google Fonts */

body * {
    font-family: 'Syne', sans-serif;
    max-width: 1440px;
 }

 

 .ct-button
{
    width: 236px;
    height: 80px;
}                                                                                   


.menu-item a:hover {
    font-size: 13px;
    font-weight: 700;
}


.menu-item
{   
    font-size: 16px;
    font-weight: 400;
}

.default-logo
{
    width: 201px;
    height: auto;
}

.ct-footer-copyright
{
    width: 119px;
    height: 19px;
    margin: 0 auto;
}

.ct-header
{
    width: 1440px;
    height: 80px;
}

.ct-footer
{
    width: 1440px;
    height: 60px;
}